<h1>New Message</h1>


<% if @message.errors.any? %>
  <h3>The following errors occured: </h3>
  <ul>
    <% @message.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
  </ul>
<% end %>

<div class="form">
  <%= form_for @message, :class => 'form-inline' do |f| %>
    <div class="form-group">
      <%= f.label :to %>
      <%= f.collection_select :to, Contact.order(:name), :phone, :name, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :from %>
     <%= f.collection_select :from, Contact.order(:name), :phone, :name, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, :class => 'form-control' %>
    </div>
    <%= f.submit :class => 'btn btn-danger' %>

  <% end %>
</div>
<br/>
<p><%= link_to "See your contacts", contacts_path, :class => 'btn btn-info' %></p>
