<!DOCTYPE html>
<html>
<head>
  <title>TexterApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <span class="logo"><%= link_to "Texty Text", root_path %></span>
</nav>

<div class="container">
  <%= flash[:notice] %>
  <%= yield %>
</div>

</body>
</html>
